<h1>Data Exploration and Cleaning</h1>

In [4]:
import numpy as np
import pandas as pd
import os

In [5]:
titanic_train = pd.read_csv("C:/Users/aziz/Desktop/ML/lab/train.csv")

In [6]:
titanic_train.shape

(891, 12)

In [7]:
titanic_train.head(5)  # Check the first 5 rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
categorical = titanic_train.dtypes[titanic_train.dtypes == "object"].index
print(categorical)

titanic_train[categorical].describe()

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [2]:
titanic_train["Ticket"][0:15]

NameError: name 'titanic_train' is not defined

In [3]:
titanic_train["Ticket"].describe()

NameError: name 'titanic_train' is not defined

In [4]:
del titanic_train["Ticket"]        # Remove Ticket

NameError: name 'titanic_train' is not defined

In [5]:
new_Pclass = pd.Categorical(titanic_train["Pclass"],
                           ordered=True)

new_Pclass = new_Pclass.rename_categories(["Class1","Class2","Class3"])     

new_Pclass.describe()

NameError: name 'pd' is not defined

In [6]:
titanic_train["Pclass"] = new_Pclass

NameError: name 'new_Pclass' is not defined

In [7]:
titanic_train["Cabin"].unique()   # Check unique cabins

NameError: name 'titanic_train' is not defined

In [8]:
char_cabin = titanic_train["Cabin"].astype(str) # Convert data to str

new_Cabin = np.array([cabin[0] for cabin in char_cabin]) # Take first letter

new_Cabin = pd.Categorical(new_Cabin)

new_Cabin .describe()

NameError: name 'titanic_train' is not defined

In [9]:
titanic_train["Cabin"] = new_Cabin

NameError: name 'new_Cabin' is not defined

In [10]:
dummy_vector = pd.Series([1,None,3,None,7,8])

dummy_vector.isnull()

NameError: name 'pd' is not defined

In [11]:
titanic_train["Age"].describe()

NameError: name 'titanic_train' is not defined

In [12]:
missing = np.where(titanic_train["Age"].isnull() == True)
missing

NameError: name 'np' is not defined

In [13]:
len(missing[0])

NameError: name 'missing' is not defined

In [14]:
titanic_train.hist(column='Age',    # Column to plot
                   figsize=(9,6),   # Plot size
                   bins=20)         # Number of histogram bins

NameError: name 'titanic_train' is not defined

In [15]:
new_age_var = np.where(titanic_train["Age"].isnull(), # Logical check
                       28,                       # Value if check is true
                       titanic_train["Age"])     # Value if check is false

titanic_train["Age"] = new_age_var 

titanic_train["Age"].describe()

NameError: name 'np' is not defined

In [16]:
titanic_train.hist(column='Age',    # Column to plot
                   figsize=(9,6),   # Plot size
                   bins=20)         # Number of histogram bins

NameError: name 'titanic_train' is not defined